
body {
    display: block;
    font-family: arial;
    font-size: small;
}

#topnav {
    height: 20px;
    padding-top: 25px; 
}

.topul {
    border: 1px solid green;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color:black;
    opacity: 0.75;
    text-decoration: none;
}

li {
    display: inline-block;
    text-decoration: none;
    color: black;
}

li:visited {
    text-decoration: none;
}

li.topleft {
    float: left;
    margin-left: 25px;
    /*display: inline; 
    margin-left: 25px;
    padding: 5px;*/
}

li.topright {
    float: right;
    margin-right: 25px;
}
    /*display: inline;
    padding: 2px;
    margin-right: 25px;*/

    /*background-image: src="media_content/google_icon.jpg"*/
.icon {
    background-image: url("media_content/google_icon.jpg");
    background-repeat: no-repeat;
    position: relative;
    height:35px;
    width:35px;
}

.grid {
    background-image: url("media_content/drive_grid.jpg");
    background-repeat: no-repeat;
    position: relative;
    height:35px;
    width:35px;
}


.logo {
    width: 300px;
    height: 90px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 30px;
    text-align: center;
}

form {
    width: 500px;
    height:38px;
    margin:auto;
    border: 1px solid rgba(211,211,211,0.7);
    border-radius: 20px;
    text-align:center;
}

form:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

input {
    width: 430px;
    height: 25px;
    position: relative;
    float: left;
    margin-top: 5px;
    padding-left: 10px;
    border: none;
    background:transparent;
    outline: none;
    font-size: 16px;
    font-family: arial
}

input:focus {
    outline: none;
}

.magglass {
    position: relative;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.5;
}

.mic {
    float: right;
    height: 18px;
    margin-top: 10px;
    margin-right:10px;
}

.buttoncontainer {
    text-align: center;
}
.button {
    height: 35px;
    margin-top: 15px;
    margin-left: 3px;
    margin-right:3px;
    margin-bottom: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    font-family: arial;
    color: #5F6368;
    background-color: #f2f2f2;
}

.button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)}

p {
    text-align:center;
}


#footer {
    border-top: 1px solid #e4e4e4;
    background:#f2f2f2;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 38px;
    background-color:#e4e4e4;
}

.bottom {
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

li.bottomright {
    font-family: arial;
    color:#5f6368;
    float: right;
    margin-right: 25px;
    color: #5F6368;

}

li.bottomleft {
    font-family: arial;
    color: #5f6368;
    float: left;
    margin-left: 25px;
    color: #5F6368;

}


/*
#footer {
    border: 1px solid black;
    position:fixed;
    bottom: 10px;
    width: 100%;
}

.bottom li {
    display: inline;
}

li.bottomright {
    float: right;
}

li.bottomleft {
    float: left;
}

*/

/*
li.bottomleft {
    float: left;
    padding: 5px;
}

li.bottomright {
    float: right;
    padding: 5px;
}
*/






















/*body {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.leftnav ul {
    list-style-type: none;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    border: 1px solid black;
    float: left;
}

.rightnav ul {
    list-style-type: none;
    margin-top: 20px;
    margin-right:20px;
    float: right;
    border: 1px solid black;
}

.leftnav ul > li {
    display: inline;
    margin: 10px;
}

.rightnav ul > li {
    display: inline;
    margin: 10px;
}

.GoogImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid black;
}

img {
    display: block;
    margin: auto;
}

.searchbar {
    width: 500px;
    height: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer nav {
    list-style-type: none;
}

.inline li {
    display: inline;*/